#changeBtn{

padding: 35px;
font-size: 65px;
margin-top: 250px;
font-family: 'Fjalla One', sans-serif;
transition-duration: 700ms;
background-color: transparent;
cursor: pointer;
outline-color: transparent;
border-color: transparent;
}

#changeBtn:hover{

border-radius: 50%;
transform: translate(0, 40px);
border:5px solid black;


}

#changeBtn:focus {outline:0;
}

#head{letter-spacing: 70x;}

body{



    background-color: blue;
    text-align: center;
    font-size: 65px;
    font-family: 'Fjalla One', sans-serif;
    
}


